$font-stack: 'Poppins',
sans-serif;
$backdrop-background_color:rgba(21, 12, 33, 0.81);
$btn_background-color : #0079c1;
$text-color:#423A4B;
$alt-text-color:white;
$label-color:rgba(3, 3, 3, 0.5);
$font-size :18vh;
$border-color:#DFDFDF;
$input-bg-color:#dad8d8;
