@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  min-height: 100vh;
  width: 100%;
  color: #423A4B;
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1em 0;
}

header a {
  text-decoration: none;
  color: #423A4B;
  font-weight: 900;
}

header img {
  border-radius: 100%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #A9A9A9;
  min-width: 100%;
  padding: 1em;
}

section div {
  min-width: 100%;
}

section .carddiv h3 {
  font-weight: 900;
}

section .carddiv p {
  padding: 0.5em 0 0 0;
  font-weight: lighter;
  font-size: 10px;
  opacity: 0.4;
}

section .carddiv img {
  min-width: 100%;
  max-width: 100%;
  margin-top: 1em;
}

section .carddiv .card {
  /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5) -1px -1px 2px #aaa, 1px 1px 2px #555;
            backdrop-filter: blur(0.8rem);
            border-radius: 1rem; */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #ff4f84), to(#844fff));
  background-image: linear-gradient(to right, #ff4f84 20%, #844fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  padding: 1.5rem;
}

section .carddiv .card h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

section .carddiv .card .chip-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 1em 0;
}

section .carddiv .card .chip-input:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section .carddiv .card .chip-input span p {
  border-bottom: 2px dashed white;
  font-size: 18px;
}

section .carddiv .card span {
  color: white;
}

section .carddiv .card span .card_chip img {
  min-width: 3rem;
  max-width: 3rem;
  margin: 0;
}

section .formDiv .cardTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}

section .formDiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-top: 1em;
}

section .formDiv form span {
  min-width: 100%;
}

section .formDiv form span label {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.8;
  color: rgba(3, 3, 3, 0.5);
  display: block;
}

section .formDiv form span .form-control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1.5em;
  background-color: #dad8d8;
  border: 1px solid #A9A9A9;
  box-sizing: border-box;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  min-height: 45px;
  max-height: 30px;
  width: 100%;
  max-width: 100%;
}

section .formDiv form .form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

section .formDiv form .form-radio .input-radio {
  margin-right: 0.5em;
}

section .formDiv form button {
  background: #0079c1;
  border-radius: 5px;
  border: 1px solid #0079c1;
  padding: 1em 2em;
  min-width: 100%;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  color: white;
}

table {
  border-top: 1px solid #A9A9A9;
  min-width: 100%;
  padding: 2em 1em;
}

table tr {
  padding: 1em 0;
}

table tr td:last-child {
  text-align: right;
}

table tr td button {
  background: #0079c1;
  border-radius: 5px;
  border: 1px solid #0079c1;
  padding: 1em 2em;
  min-width: 100%;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  color: white;
  min-width: 10%;
}

.modal {
  -webkit-animation: modal 1s cubic-bezier(0.16, 1, 0.3, 1);
          animation: modal 1s cubic-bezier(0.16, 1, 0.3, 1);
}

@-webkit-keyframes modal {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0.1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modal {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0.1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1em;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-width: 60%;
  }
  header img {
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section .carddiv {
    min-width: 50%;
  }
  section .carddiv img {
    min-width: 60%;
  }
  section .formDiv {
    min-width: 50%;
  }
  section .formDiv .cardTypes {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section .formDiv .cardTypes img {
    margin: 0 1em;
  }
  section .formDiv form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .formDiv form span {
    min-width: 48%;
  }
  section .formDiv form span label {
    font-size: 14px;
    font-weight: 900;
    line-height: 1.8;
    color: rgba(3, 3, 3, 0.5);
    display: block;
  }
  section .formDiv form span .form-control {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1.5em;
    background-color: #dad8d8;
    border: 1px solid #A9A9A9;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    min-height: 45px;
    max-height: 30px;
    width: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */