@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@500&display=swap');
$font-stack: 'Poppins',
sans-serif;
$backdrop-background_color:rgba(21, 12, 33, 0.81);
$btn_background-color : #0079c1;
$text-color:#423A4B;
$alt-text-color:white;
$label-color:rgba(3, 3, 3, 0.5);
$font-size :18vh;
$border-color:#DFDFDF;
$input-bg-color:#dad8d8;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    background: $btn_background-color;
    border-radius: 5px;
    border: 1px solid $btn_background-color;
    padding: 1em 2em;
    min-width: 100%;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    color: white;
}

@mixin btn2 {
    @include btn();
    width: 40%;
    font-size: 16px;
}

@mixin form {
    @include flex2();
    width: 90%;
    margin-top: 1em;
}

@mixin form2 {
    @include form();
    width: 70%;
}

@mixin label {
    font: {
        size: 14px;
        weight: 900;
    }

    line-height: 1.8;
    color: $label-color;
    display: block;
}

@mixin input {
    box-sizing: border-box;
    margin-bottom: 1.5em;
    background-color: $input-bg-color;
    border: 2px solid #A9A9A9;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    min-height: 45px;
    max-height: 30px;
    width: 100%;
    max-width: 100%;
    color: rgba($color: #000, $alpha: 1);
    &:focus{
        outline: none;
        border-color: $btn_background-color;
    }
}

@mixin input2 {
    @include input();
    padding: 10px;
}

@mixin continue_btn {
    @include btn();
    @include active-btn();
    border: none;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1em;
    min-height: 45px;
    max-height: 40px;
}

@mixin continue_btn2 {
    @include btn2();
    @include continue_btn();
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font: {
        family: $font-stack;
    }
}

body {
    overflow: auto;
    box-sizing: border-box;
    text-decoration: none;
    min-height: 100vh;
    width: 100%;
    color: $text-color;
    list-style-type: none;
}

header {
    @include flex();
    justify-content: space-evenly;
    padding: 1em 0;

    a {
        text-decoration: none;
        color: $text-color;
        font-weight: 900;
    }

    img {
        border-radius: 100%;
    }
}

section {
    @include flex();
    flex-direction: column;
    border-top: 1px solid #A9A9A9;
    min-width: 100%;
    padding: 1em;

    div {
        min-width: 100%;
    }

    .carddiv {
        h3 {
            font-weight: 900;
        }

        p {
            padding: 0.5em 0 0 0;
            font-weight: lighter;
            font-size: 10px;
            opacity: 0.4;
        }

        img {
            min-width: 100%;
            max-width: 100%;
            margin-top: 1em;
        }
        .card {
            /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
            */
            background-image: linear-gradient(to right , #ff4f84  20%, #844fff  );
            @include flex() ;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5) -1px -1px 2px #aaa, 1px 1px 2px #555;
            backdrop-filter: blur(0.8rem);
            flex-direction: column;
            min-width: 100%;
            padding: 1.5rem;
            border-radius: 1rem; 
            max-width: 50px;
            margin-top: 1rem;
            animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter;
            h1{
                align-self: flex-start;
                color: #1d005f;
                margin: 1rem 0 1.5rem;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
            }
            .chip-input{
                @include flex();
                justify-content: space-between;
                width: 100%;
                margin: 1em 0;
                &:last-child {
                    align-items: flex-start;
                }
                span{
                    p{
                        border-bottom: 0.2rem dashed rgba($color: #fff, $alpha: 0.15);
                        font-size: 1.2rem;
                        color: white;
                        &:active{
                            border-color: white;
                        }
                    }
                }
                .card_number{
                    min-width: 70%;
                }
                .card_expiry{
                    width: 45%;
                    p{font-size: 0.8rem;}
                }
                .card_cvv{
                    width: 45%;
                     p{font-size: 0.8rem;}
                }
            }
            span{
                color:white;
                .card_chip {
                    align-self: flex-end;
                    img {
                        min-width: 3rem;
                        max-width: 3rem;
                        margin: 0;
                    }
                }
            }
        }            
        @keyframes cardEnter {
            from {
                transform: translateX(100vh);
                opacity: 0.1;
            }
        
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    .formDiv {
        .cardTypes {
            @include flex();
            justify-content: space-between;
            margin-top: 1em;
        }

        form {
            @include flex();
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 100%;
            margin-top: 1em;

            span {
                min-width: 100%;

                label {
                    @include label();
                }

                .form-control {
                    @include input();
                }
            }

            .form-radio {
                @include flex();
                margin-bottom: 1em;

                .input-radio {
                    margin-right: 0.5em;
                }
            }

            button {
                @include btn();
            }
        }
    }
}

table {
    border-top: 1px solid #A9A9A9;
    min-width: 100%;
    padding: 2em 1em;

    tr {
        padding: 1em 0;

        td {
            &:last-child {
                text-align: right;
            }

            button {
                @include btn();
                min-width: 10%;
            }
        }
    }
}



@media screen and (min-width:800px) {
    header {
        justify-content: flex-end;
        padding: 1em;
        nav {
            @include flex();
            justify-content: space-evenly;
            min-width: 60%;
        }

        img {
            justify-self: flex-end;
            align-self: flex-end;
        }
    }

    section {
        flex-direction: row;

        .carddiv {
            min-width: 50%;
            .card{
                min-width: 80%;
            }
            img {
                min-width: 60%;
            }
        }

        .formDiv {
            min-width: 50%;

            .cardTypes {
                justify-content: flex-end;
                align-items: flex-end;

                img {
                    margin: 0 1em;
                }
            }

            form {
                justify-content: space-between;

                span {
                    min-width: 48%;

                    label {
                        @include label();
                    }

                    .form-control {
                        @include input();
                    }
                }
            }
        }
    }
}